body {
  background-color:	#f0937e ;
  color:	#1d4e46;
  padding:10px;
  border:2px dashed ;
}	
p {
font-family: cursive;
}
.lost{
  font-family: sans-serif;
}
a{
  color:#1d4e46 ;
  text-decoration: underline;
  border: 1px solid white;
  padding: 5px;
}


